.weather-table tbody tr:nth-child(odd) {
    background-color: #EBEEFF;
}

.weather-table thead {
    background-color: #6D7AE0;
    color: white;
}
.color-purple {
    color: #6D7AE0 !important;
}
.bg-purple {
    background-color: #6D7AE0 !important;
}
.table td {
    text-align: center;
    vertical-align: middle;
}