@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top: 40vh; transform: translateY(-50%);">
    <div class="row">
        <div class="col-lg-6 col-12">
            <a class="btn btn-primary text-dark border-0 w-100 py-5 mb-3" asp-area="" asp-controller="Display" asp-action="Display" style="background-color: #C0D29F">
                Просмотр архивов погодных условий в городе Москве
            </a>
        </div>

        <div class="col-lg-6 col-12">
            <a class="btn btn-primary text-dark border-0 w-100 py-5 mb-3" asp-area="" asp-controller="Import" asp-action="Import" style="background-color: #8AC6D1">
                Загрузка архивов погодных условий в городе Москве
            </a>
        </div>
    </div>
</div>